# Node.js
node_modules/

# 환경별 로그/임시파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 운영체제별 임시파일
.DS_Store
Thumbs.db

# SQLite DB 파일
*.sqlite
*.db

# 환경설정/시크릿
.env
.env.*

# IDE/에디터
.vscode/
.idea/
*.swp

# 업로드 폴더
uploads/ 